@{
  Layout = "_LayoutTwo";
}

<div class="container-fluid">
  <div class="wrapper">
  <div class="row">
    <div class="col-md-12">

      <h2>@Model["venue"].GetName()</h2>

      @if (@Model["bands"].Count != 0)
      {
        @foreach (var band in @Model["bands"])
        {
          <ul>
          <li><a href="/bands/@band.GetId()">@band.GetDescription()</a></li>
          <p>Performing on: @band.GetPerformanceDate()</p>
          </ul>
        }
      }

    </div>
    <div class="row">
        <ul>
          <li><a href="/Venues">View All Venues</a></li>
          <li><a href="/Venues/@Model["venue"].GetId()/bands/new">Add Band</a></li>
          <li><a href="/">Home</a></li>
        </ul>
        <div class="col-md-12">
          <form action="/Venues/@Model["venue"].GetId()/Delete" method="post">
            <button type="submit" class="btn btn-danger">Remove this Venue</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
